.app__gallery {
    background: var(--color-black);
    padding: 4rem 0 4rem 6rem;
}

.app__gallery-content {
    flex: 1;
    margin-right: 3rem;
}

.app__gallery-content button {
    margin-top: 2rem;
}

.app__gallery-images {
    flex: 1;
    display: flex;
    max-width: 50%;
    position: relative;
}

.app__gallery-images_container {
    display: flex;
    width: max-content;
    overflow-x: scroll;
    overflow-y: hidden;
}

.app__gallery-images_container::-webkit-scrollbar {
    display: none;
}

.app__gallery-image_card {
   position: relative;
   min-width: 301px;
   height: 447px;
   margin-right: 2rem;
}

.app__gallery-image_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.app__gallery-image_card:hover img {
    opacity: .35;
}

.app__gallery-image_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    opacity: .5;
}

.app__gallery-image_card:hover .app__gallery-image_icon {
    opacity: 1;
}

.app__gallery-images_arrows {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.gallery__arrow-icon {
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
    margin: 0 1rem;
}

/* Media */

@media screen and (max-width: 750px) {
    .app__gallery {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }
    
    .app__gallery-content {
        margin-bottom: 2rem;
    }

    .app__gallery-images {
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) { 
    /* .app__gallery {
        overflow: hidden;
    } */

    .app__gallery-content {
        min-width: 100%;
    }

    .app__gallery-images {
       margin-left: -2.5rem;
    }

    .app__gallery-image_card {
        min-width: 220px;
        height: 300px;
    }
}